<?xml version="1.0" encoding="UTF-8"?>
<imdata totalCount="1">
	<l3extOut annotation="" descr="" dn="uni/tn-{{ client['tenant']['name'] }}/out-{{ client['l3out']['name'] }}" enforceRtctrl="export" mplsEnabled="no" name="{{ client['l3out']['name'] }}" nameAlias="" ownerKey="" ownerTag="" targetDscp="unspecified" userdom=":all:">
		<l3extRsL3DomAtt annotation="" tDn="uni/l3dom-{{ client['tenant']['l3domain'] }}" userdom=":all:"/>
		<l3extRsEctx annotation="" tnFvCtxName="{{ client['l3out']['vrf'] }}" userdom="all"/>
		<l3extLNodeP annotation="" configIssues="" descr="" name="{{ client['nodeProf']['name-nodeProf-pod1'] }}" nameAlias="" ownerKey="" ownerTag="" tag="yellow-green" targetDscp="unspecified" userdom=":all:">
			<l3extRsNodeL3OutAtt annotation="" configIssues="" rtrId="{{ client['nodeProf']['node-105-rtrId'] }}" rtrIdLoopBack="no" tDn="topology/pod-1/node-105" userdom=":all:">
				{% for r in client['routes'] -%}
				<ipRouteP aggregate="no" annotation="" descr="{{ r['desc'] }}" fromPfxLen="0" ip="{{ r['route'] }}" name="" nameAlias="" pref="1" rtCtrl="" toPfxLen="0" userdom=":all:">
					<ipNexthopP annotation="" descr="" name="" nameAlias="" nhAddr="{{ r['nhop'] }}" pref="unspecified" type="prefix" userdom=":all:"/>
				</ipRouteP>
				{% endfor -%}
			</l3extRsNodeL3OutAtt>
			<l3extRsNodeL3OutAtt annotation="" configIssues="" rtrId="{{ client['nodeProf']['node-106-rtrId'] }}" rtrIdLoopBack="no" tDn="topology/pod-1/node-106" userdom=":all:">
				{% for r in client['routes'] -%}
				<ipRouteP aggregate="no" annotation="" descr="{{ r['desc'] }}" fromPfxLen="0" ip="{{ r['route'] }}" name="" nameAlias="" pref="1" rtCtrl="" toPfxLen="0" userdom=":all:">
					<ipNexthopP annotation="" descr="" name="" nameAlias="" nhAddr="{{ r['nhop'] }}" pref="unspecified" type="prefix" userdom=":all:"/>
				</ipRouteP>
				{% endfor -%}
			</l3extRsNodeL3OutAtt>
			{% if Rollback -%}
			<!--   Logical Interface Profile Rollback    -->
			<l3extLIfP annotation="" descr="" name="{{ client['intProf']['name-IntProf'] }}" nameAlias="" ownerKey="" ownerTag="" prio="unspecified" tag="yellow-green" userdom=":all:" status="deleted">
				<l3extRsPathL3OutAtt addr="0.0.0.0" annotation="" autostate="enabled" descr="" encap="vlan-{{ client['l3out']['vlanid'] }}" encapScope="ctx" ifInstT="ext-svi" ipv6Dad="enabled" isMultiPodDirect="no" llAddr="::" mac="00:22:BD:F8:19:FF" mode="regular" mtu="1500" tDn="topology/pod-1/protpaths-105-106/pathep-[{{ client['path']['path-node-105-106'] }}]" targetDscp="unspecified" userdom=":all:">
					<l3extMember addr="{{ client['intProf']['node-105-IP'] }}" annotation="" descr="" ipv6Dad="enabled" llAddr="::" name="" nameAlias="" side="A" userdom=":all:">
						<l3extIp addr="{{ client['intProf']['node-IP-VIP'] }}" annotation="" descr="" ipv6Dad="enabled" name="" nameAlias="" userdom=":all:"/>
					</l3extMember>
					<l3extMember addr="{{ client['intProf']['node-106-IP'] }}" annotation="" descr="" ipv6Dad="enabled" llAddr="::" name="" nameAlias="" side="B" userdom=":all:">
						<l3extIp addr="{{ client['intProf']['node-IP-VIP'] }} " annotation="" descr="" ipv6Dad="enabled" name="" nameAlias="" userdom=":all:"/>
					</l3extMember>
				</l3extRsPathL3OutAtt>
				<l3extRsNdIfPol annotation="" tnNdIfPolName="" userdom="all"/>
				<l3extRsLIfPCustQosPol annotation="" tnQosCustomPolName="" userdom="all"/>
				<l3extRsIngressQosDppPol annotation="" tnQosDppPolName="" userdom="all"/>
				<l3extRsEgressQosDppPol annotation="" tnQosDppPolName="" userdom="all"/>
				<l3extRsArpIfPol annotation="" tnArpIfPolName="" userdom="all"/>
			</l3extLIfP>
			{% else -%}
			<!--   Logical Interface Profile    -->
			<l3extLIfP annotation="" descr="" name="{{ client['intProf']['name-IntProf'] }}" nameAlias="" ownerKey="" ownerTag="" prio="unspecified" tag="yellow-green" userdom=":all:">
				<l3extRsPathL3OutAtt addr="0.0.0.0" annotation="" autostate="enabled" descr="" encap="vlan-{{ client['l3out']['vlanid'] }}" encapScope="ctx" ifInstT="ext-svi" ipv6Dad="enabled" isMultiPodDirect="no" llAddr="::" mac="00:22:BD:F8:19:FF" mode="regular" mtu="1500" tDn="topology/pod-1/protpaths-105-106/pathep-[{{ client['path']['path-node-105-106'] }}]" targetDscp="unspecified" userdom=":all:">
					<l3extMember addr="{{ client['intProf']['node-105-IP'] }}" annotation="" descr="" ipv6Dad="enabled" llAddr="::" name="" nameAlias="" side="A" userdom=":all:">
						<l3extIp addr="{{ client['intProf']['node-IP-VIP'] }}" annotation="" descr="" ipv6Dad="enabled" name="" nameAlias="" userdom=":all:"/>
					</l3extMember>
					<l3extMember addr="{{ client['intProf']['node-106-IP'] }}" annotation="" descr="" ipv6Dad="enabled" llAddr="::" name="" nameAlias="" side="B" userdom=":all:">
						<l3extIp addr="{{ client['intProf']['node-IP-VIP'] }} " annotation="" descr="" ipv6Dad="enabled" name="" nameAlias="" userdom=":all:"/>
					</l3extMember>
				</l3extRsPathL3OutAtt>
				<l3extRsNdIfPol annotation="" tnNdIfPolName="" userdom="all"/>
				<l3extRsLIfPCustQosPol annotation="" tnQosCustomPolName="" userdom="all"/>
				<l3extRsIngressQosDppPol annotation="" tnQosDppPolName="" userdom="all"/>
				<l3extRsEgressQosDppPol annotation="" tnQosDppPolName="" userdom="all"/>
				<l3extRsArpIfPol annotation="" tnArpIfPolName="" userdom="all"/>
			</l3extLIfP>
			{% endif %}
		</l3extLNodeP>
		<l3extLNodeP annotation="" configIssues="" descr="" name="{{ client['nodeProf']['name-nodeProf-pod2'] }}" nameAlias="" ownerKey="" ownerTag="" tag="yellow-green" targetDscp="unspecified" userdom=":all:">
			<l3extRsNodeL3OutAtt annotation="" configIssues="" rtrId="{{ client['nodeProf']['node-205-rtrId'] }}" rtrIdLoopBack="no" tDn="topology/pod-2/node-205" userdom=":all:">
				{% for r in client['routes'] -%}
				<ipRouteP aggregate="no" annotation="" descr="{{ r['desc'] }}" fromPfxLen="0" ip="{{ r['route'] }}" name="" nameAlias="" pref="1" rtCtrl="" toPfxLen="0" userdom=":all:">
					<ipNexthopP annotation="" descr="" name="" nameAlias="" nhAddr="{{ r['nhop'] }}" pref="unspecified" type="prefix" userdom=":all:"/>
				</ipRouteP>
				{% endfor -%}
			</l3extRsNodeL3OutAtt>
			<l3extRsNodeL3OutAtt annotation="" configIssues="" rtrId="{{ client['nodeProf']['node-206-rtrId'] }}" rtrIdLoopBack="no" tDn="topology/pod-2/node-206" userdom=":all:">
				{% for r in client['routes'] -%}
				<ipRouteP aggregate="no" annotation="" descr="{{ r['desc'] }}" fromPfxLen="0" ip="{{ r['route'] }}" name="" nameAlias="" pref="1" rtCtrl="" toPfxLen="0" userdom=":all:">
					<ipNexthopP annotation="" descr="" name="" nameAlias="" nhAddr="{{ r['nhop'] }}" pref="unspecified" type="prefix" userdom=":all:"/>
				</ipRouteP>
				{% endfor -%}
			</l3extRsNodeL3OutAtt>
			{% if Rollback -%}
			<!--   Logical Interface Profile Rollback    -->
			<l3extLIfP annotation="" descr="" name="{{ client['intProf']['name-IntProf'] }}" nameAlias="" ownerKey="" ownerTag="" prio="unspecified" tag="yellow-green" userdom=":all:" status="deleted">
				<l3extRsPathL3OutAtt addr="0.0.0.0" annotation="" autostate="enabled" descr="" encap="vlan-{{ client['l3out']['vlanid'] }}" encapScope="ctx" ifInstT="ext-svi" ipv6Dad="enabled" isMultiPodDirect="no" llAddr="::" mac="00:22:BD:F8:19:FF" mode="regular" mtu="1500" tDn="topology/pod-2/protpaths-205-206/pathep-[{{ client['path']['path-node-205-206'] }}]" targetDscp="unspecified" userdom=":all:">
					<l3extMember addr="{{ client['intProf']['node-205-IP'] }}" annotation="" descr="" ipv6Dad="enabled" llAddr="::" name="" nameAlias="" side="A" userdom=":all:">
						<l3extIp addr="{{ client['intProf']['node-IP-VIP'] }}" annotation="" descr="" ipv6Dad="enabled" name="" nameAlias="" userdom=":all:"/>
					</l3extMember>
					<l3extMember addr="{{ client['intProf']['node-206-IP'] }}" annotation="" descr="" ipv6Dad="enabled" llAddr="::" name="" nameAlias="" side="B" userdom=":all:">
						<l3extIp addr="{{ client['intProf']['node-IP-VIP'] }} " annotation="" descr="" ipv6Dad="enabled" name="" nameAlias="" userdom=":all:"/>
					</l3extMember>
				</l3extRsPathL3OutAtt>
				<l3extRsNdIfPol annotation="" tnNdIfPolName="" userdom="all"/>
				<l3extRsLIfPCustQosPol annotation="" tnQosCustomPolName="" userdom="all"/>
				<l3extRsIngressQosDppPol annotation="" tnQosDppPolName="" userdom="all"/>
				<l3extRsEgressQosDppPol annotation="" tnQosDppPolName="" userdom="all"/>
				<l3extRsArpIfPol annotation="" tnArpIfPolName="" userdom="all"/>
			</l3extLIfP>
			{% else -%}
			<!--   Logical Interface Profile   -->
			<l3extLIfP annotation="" descr="" name="{{ client['intProf']['name-IntProf'] }}" nameAlias="" ownerKey="" ownerTag="" prio="unspecified" tag="yellow-green" userdom=":all:">
				<l3extRsPathL3OutAtt addr="0.0.0.0" annotation="" autostate="enabled" descr="" encap="vlan-{{ client['l3out']['vlanid'] }}" encapScope="ctx" ifInstT="ext-svi" ipv6Dad="enabled" isMultiPodDirect="no" llAddr="::" mac="00:22:BD:F8:19:FF" mode="regular" mtu="1500" tDn="topology/pod-2/protpaths-205-206/pathep-[{{ client['path']['path-node-205-206'] }}]" targetDscp="unspecified" userdom=":all:">
					<l3extMember addr="{{ client['intProf']['node-205-IP'] }}" annotation="" descr="" ipv6Dad="enabled" llAddr="::" name="" nameAlias="" side="A" userdom=":all:">
						<l3extIp addr="{{ client['intProf']['node-IP-VIP'] }}" annotation="" descr="" ipv6Dad="enabled" name="" nameAlias="" userdom=":all:"/>
					</l3extMember>
					<l3extMember addr="{{ client['intProf']['node-206-IP'] }}" annotation="" descr="" ipv6Dad="enabled" llAddr="::" name="" nameAlias="" side="B" userdom=":all:">
						<l3extIp addr="{{ client['intProf']['node-IP-VIP'] }} " annotation="" descr="" ipv6Dad="enabled" name="" nameAlias="" userdom=":all:"/>
					</l3extMember>
				</l3extRsPathL3OutAtt>
				<l3extRsNdIfPol annotation="" tnNdIfPolName="" userdom="all"/>
				<l3extRsLIfPCustQosPol annotation="" tnQosCustomPolName="" userdom="all"/>
				<l3extRsIngressQosDppPol annotation="" tnQosDppPolName="" userdom="all"/>
				<l3extRsEgressQosDppPol annotation="" tnQosDppPolName="" userdom="all"/>
				<l3extRsArpIfPol annotation="" tnArpIfPolName="" userdom="all"/>
			</l3extLIfP>
			{% endif -%}
		</l3extLNodeP>
		<l3extInstP annotation="" descr="" exceptionTag="" floodOnEncap="disabled" matchT="AtleastOne" name="{{ client['extepg-name'] }}" nameAlias="" pcEnfPref="unenforced" prefGrMemb="exclude" prio="unspecified" targetDscp="unspecified" userdom=":all:">
			{% if client['contracts'] -%}
			<fvRsProv annotation="" intent="install" matchT="AtleastOne" prio="unspecified" tnVzBrCPName="ctt-any-tra" userdom=":all:"/>
			<fvRsCons annotation="" intent="install" prio="unspecified" tnVzBrCPName="ctt-any-tra" userdom=":all:"/>
			{% endif -%}
			{% if Rollback -%}
			<!--   External EPG Rollback    -->
			{% for epg in client['extepg'] -%}
			<l3extSubnet aggregate="" annotation="" descr="" ip="{{ epg['subnet'] }}" name="{{ epg['descr']}}" nameAlias="" scope="import-security" userdom=":all:" status="deleted"/>
			{% endfor -%}
			{% else -%}
			<!--   External EPG     -->
			{% for epg in client['extepg'] -%}
			<l3extSubnet aggregate="" annotation="" descr="" ip="{{ epg['subnet'] }}" name="{{ epg['descr']}}" nameAlias="" scope="import-security" userdom=":all:"/>
			{% endfor -%}
			{% endif -%}
			<fvRsCustQosPol annotation="" tnQosCustomPolName="" userdom="all"/>
		</l3extInstP>
	</l3extOut>
</imdata>